body {
    height: 100%;
    font-family: 'Ubuntu', sans-serif;
    background-image: url("../img/background-image.png");
    background-size: cover;
    background-position: center;
}

/* ----- Header Start ------ */

.header {
    background: rgba(0, 0, 0, 0.40);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.wrapper {
    width: 1366px;
    margin-left: auto;
    margin-right: auto;
}

.header-container {
    padding: 18px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    text-decoration: none;
    color: #FFF;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    transition: scale 0.2s, color 0.3s;
}

.logo:hover {
    color: #3CB878;
    scale: 97% 97%;
}

.header-right-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-icon-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
}

.header-icon-link {
    text-decoration: none;
    width: 24px;
    height: 24px;
}

.header-icon-link > svg g path {
    transition: scale 0.2s, fill 0.3s;
}

.header-icon-link:hover > svg g path {
    scale: 97% 97%;
    fill: #3CB878;
}

.header-icon-container:after {
    content: "";
    display: block;
    height: 20px;
    border-right: 1px solid #FFF;
    opacity: 0.5;
    background: rgba(255, 255, 255, 0.90);
}

.header-nav-text {
    display: inline-block;
    margin-left: 27px;
    color: #FFF;
    font-size: 14px;
    font-weight: 400;
}

.header-nav-link {
    text-decoration: none;
    color: #FFF;
    font-size: 14px;
    font-weight: 400;
    transition: color 0.3s;
}

.header-nav-link:hover {
    color: #3CB878;
}

/* ----- Header End ------ */

/* ----- Sign In Form Start ------ */

main {
    height: calc(100vh - 56px);
    display: grid;
    place-items: center;
}

.sign-up-form {
    position: relative;
    width: 444px;
    padding: 31px 60px 38px;
    background-color: #FFF;
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.52);
}

.form-headline-container:before {
    content: "";
    width: 18px;
    height: 18px;
    background-color: #3CB878;
    position: absolute;
    left: 0;
}

.form-headline-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.form-heading {
    margin: 0;
    color: #434343;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
}

.form-link {
    text-decoration: none;
    color: #3CB878;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
}

.form-link:hover {
    text-decoration: underline;
}

.social-login-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-login-button {
    width: 160px;
    height: 48px;
    border: none;
    border-radius: 3px;
    padding: 10px;
    display: flex;
    align-items: center;
    color: #FFF;
}

.button-text {
    margin: 0;
    display: flex;
    align-items: center;
}

.button-facebook {
    background-color: #305DB8;
}

.button-facebook:hover {
    background-color: #022263;
}

.button-facebook-text:before {
    content: "";
    display: inline-block;
    height: 28px;
    border-left: 2px solid #0A162F;
    opacity: 0.1;
    margin-left: 13px;
    margin-right: 18px;
}

.button-google {
    background-color: #DF4A32;
}

.button-google:hover {
    background-color: #AB1F09;
}

.google-image {
    width: 30px;
    height: auto;
}

.button-google-text:before {
    content: "";
    display: inline-block;
    height: 28px;
    border-left: 2px solid #0A162F;
    opacity: 0.1;
    margin-left: 7px;
    margin-right: 30px;
}

.form-separator:before {
    content: "";
    display: inline-block;
    width: 152px;
    border-bottom: 1px solid #F2F2F2;
    margin-right: 5px;
}

.form-separator {
    margin-top: 30px;
    margin-bottom: 7px;
    display: flex;
    align-items: center;
    color: #848484;
    font-size: 14px;
}

.form-separator:after {
    content: "";
    display: inline-block;
    width: 152px;
    border-bottom: 1px solid #F2F2F2;
    margin-left: 5px;
}

.form-input {
    width: 100%;
    padding: 15px 20px;
    margin-bottom: 15px;
    border-radius: 4px;
    border: 1px solid #F2F2F2;
    color: #434343;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px; /* 100% */
}

.form-input:focus {
    filter: drop-shadow(0 3px 8px rgba(0, 0, 0, 0.21));
    outline: none;
}

.form-input::placeholder {
    color: #BEBEBE;
    font-family: inherit;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px; /* 100% */
}

/* ------- Custom checkbox start ---------- */

.terms-label {
    display: inline-flex;
    align-items: center;
    gap: 8px;
}

.form-check-box {
    margin: 0;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    display: flex;
    align-items: center;
}

.form-check-box::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid #F2F2F2;
    background: rgba(0, 0, 0, 0.00);
}

.form-check-box:checked::before {
    content: "";
    display: inline-block;
    background: no-repeat center url("../img/check-sign.svg") rgba(0, 0, 0, 0.00);
    background-size: 14px auto;
    width: 20px;
    height: 20px;
    border: 1px solid #F2F2F2;
}

.terms-text {
    margin: 0;
    display: inline-block;
    color: #434343;
    font-size: 14px;
    line-height: 14px; /* 100% */
}

.terms-link {
    color: #01813F;
    font-size: 14px;
}

/* ------- Custom checkbox end ---------- */

.form-button {
    margin-top: 20px;
    border: none;
    width: 100%;
    padding: 16px 0;
    border-radius: 4px;
    background: rgba(60, 184, 120, 0.80);
    color: #FFF;
}

.form-button:hover {
    background-color: #01813F;
}

/* ----- Sign In Form End ------ */
